#calculator{
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  width: 220px;
  padding-bottom: 10px;
}
#display{
  width: 192px;
  margin: 10px;
  height: 25px;
}
#display:focus{
  outline: none;
}
.button-container{
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.button{
  width: 50px;
  height: 50px;
}